## Lab | Web Scraping Single Page (GNOD part 1)
Business goal:
Check the case_study_gnod.md file.

Make sure you've understood the big picture of your project:

the goal of the company (Gnod),
their current product (Gnoosic),
their strategy, and
how your project fits into this context.
Re-read the business case and the e-mail from the CTO.

Instructions - Scraping popular songs
Your product will take a song as an input from the user and will output another song (the recommendation). In most cases, the recommended song will have to be similar to the inputted song, but the CTO thinks that if the song is on the top charts at the moment, the user will also enjoy a recommendation of another song that is popular at the moment.

You have to find data on the internet about currently popular songs. Popvortex maintains a weekly Top 100 of "hot" songs here: http://www.popvortex.com/music/charts/top-100-songs.php.

It's a good place to start! Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.popvortex.com/music/charts/top-100-songs.php"

In [3]:
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
# soup

In [6]:
chart_positions = soup.select(".cover-art.col-xs-12.col-sm-4 > p")
titles = soup.select(".chart-content.col-xs-12.col-sm-8 > p > cite")
artists = soup.select(".chart-content.col-xs-12.col-sm-8 > p > em")
    
chart_position_text = [chart_position.get_text() for chart_position in chart_positions]
title_text = [title.get_text() for title in titles]
artist_text = [artist.get_text() for artist in artists]
    
data = {
        "Ranking": chart_position_text,
        "Title": title_text,
        "Artist": artist_text
    }
    
topsongs_df = pd.DataFrame(data)
topsongs_df.shape

(100, 3)

## Lab | Web Scraping Multiple Pages
Business goal:
Check the case_study_gnod.md file.

Make sure you've understood the big picture of your project:

the goal of the company (Gnod),
their current product (Gnoosic),
their strategy, and
how your project fits into this context.
Re-read the business case and the e-mail from the CTO, take a look at the flowchart and create an initial Trello board with the tasks you think you'll have to accomplish.

Instructions Part 1
Prioritize the MVP (Minimum Viable Product)
In the previous lab, you had to scrape data about "hot songs". It's critical to be on track with that part, as it was part of the request from the CTO.

If you couldn't finish the first lab, use this time to go back there.

Expand the project
If you're done, you can try to expand the project on your own. Here are a few suggestions:

Find other lists of hot songs on the internet and scrape them too: having a bigger pool of songs will be awesome!
Apply the same logic to other "groups" of songs: the best songs from a decade or from a country / culture / language / genre.
Wikipedia maintains a large collection of lists of songs: https://en.wikipedia.org/wiki/Lists_of_songs

In [7]:
url2 = "https://www.billboard.com/charts/hot-100/"

In [8]:
response2 = requests.get(url2)
response2.status_code

200

In [9]:
soup2 = BeautifulSoup(response2.content, "html.parser")

In [10]:
titles = []
artists = []

for i in range(1, 110): 
    title_selector = f"#post-1479786 > div.pmc-paywall > div > div > div > div.chart-results-list.\/\/.lrv-u-padding-t-150.lrv-u-padding-t-050\\@mobile-max > div:nth-child({i + 1}) > ul > li.lrv-u-width-100p > ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\\@mobile-max > h3"
    artist_selector = f"#post-1479786 > div.pmc-paywall > div > div > div > div.chart-results-list.\/\/.lrv-u-padding-t-150.lrv-u-padding-t-050\\@mobile-max > div:nth-child({i + 1}) > ul > li.lrv-u-width-100p > ul > li.o-chart-results-list__item.\/\/.lrv-u-flex-grow-1.lrv-u-flex.lrv-u-flex-direction-column.lrv-u-justify-content-center.lrv-u-border-b-1.u-border-b-0\\@mobile-max.lrv-u-border-color-grey-light.lrv-u-padding-l-1\\@mobile-max > span"

    title_element = soup2.select_one(title_selector)
    artist_element = soup2.select_one(artist_selector)

    if title_element:
        title = title_element.get_text(strip=True)
        titles.append(title)

    if artist_element:
        artist = artist_element.get_text(strip=True)
        artists.append(artist)

data1 = {'Title': titles, 'Artist': artists}
addsongs_df = pd.DataFrame(data1, index=range(1, len(titles) + 1))
addsongs_df

,Title,Artist
1,Cruel Summer,Taylor Swift
2,Lovin On Me,Jack Harlow
3,Paint The Town Red,Doja Cat
4,Snooze,SZA
5,Is It Over Now? (Taylor's Version) [From The V...,Taylor Swift
...,...,...
96,Mi Ex Tenia Razon,Karol G
97,Different 'Round Here,Riley Green Featuring Luke Combs
98,But I Got A Beer In My Hand,Luke Bryan
99,Better Than Ever,YoungBoy Never Broke Again & Rod Wave
100,Soak City (Do It),310babii

In [11]:
addsongs_df.columns

Index(['Title', 'Artist'], dtype='object')

In [12]:
topsongs_df.columns

Index(['Ranking', 'Title', 'Artist'], dtype='object')

In [13]:
topsongs_df = topsongs_df.drop(['Ranking'], axis=1)

In [14]:
topsongs_df.shape

(100, 2)

In [15]:
addsongs_df.shape

(100, 2)

In [16]:
allsongs_df = pd.concat([topsongs_df ,addsongs_df], axis=0)
allsongs_df.head()

                          Title                         Artist
0  3D (Justin Timberlake Remix)  Jung Kook & Justin Timberlake
1                   Lovin On Me                    Jack Harlow
2                 Lil Boo Thang                   Paul Russell
3      DJ Play A Christmas Song                           Cher
4                    Wrap Me Up  Jimmy Fallon & Meghan Trainor

In [17]:
allsongs_df.shape

(200, 2)

In [18]:
duplicate_counts = allsongs_df.duplicated().value_counts()
duplicate_counts

False    178
True      22
dtype: int64

In [19]:
allsongs_df.drop_duplicates(inplace=True)
allsongs_df.shape

(178, 2)

In [20]:
allsongs_df.head()

                          Title                         Artist
0  3D (Justin Timberlake Remix)  Jung Kook & Justin Timberlake
1                   Lovin On Me                    Jack Harlow
2                 Lil Boo Thang                   Paul Russell
3      DJ Play A Christmas Song                           Cher
4                    Wrap Me Up  Jimmy Fallon & Meghan Trainor

In [21]:
allsongs_df.to_csv('allsongs.csv', index=False)

In [22]:
allsongs_df['Title']

0      3D (Justin Timberlake Remix)
1                       Lovin On Me
2                     Lil Boo Thang
3          DJ Play A Christmas Song
4                        Wrap Me Up
                   ...
96                Mi Ex Tenia Razon
97            Different 'Round Here
98      But I Got A Beer In My Hand
99                 Better Than Ever
100               Soak City (Do It)
Name: Title, Length: 178, dtype: object

## GNOD Process Step 2
The first steps you took yesterday, were to create a list of Top Songs and Artists from scraping web sites.
You should have ended with your lists in a data frame containing at least Song Title and Artist.
Today you are creating a recommender where the user inputs a song title and check if that song is in the list you created.   
If it is,  give a different random song and artist from the list.  If it is not on the list, let the user know that you have no recommendation at this time.

In [24]:
song_list = allsongs_df['Title'].str.lower()
song_to_check = input('Enter the Song to check: ').lower()

if song_to_check in song_list.values:
    filtered_list = allsongs_df[allsongs_df['Title'].str.lower() != song_to_check]
    random_song = filtered_list.sample(1)
    recommended_title = random_song['Title'].values[0]
    recommended_artist = random_song['Artist'].values[0]
    print(f"Entered song '{song_to_check}'. Here's a recommendation:")
    print(f"Title: {recommended_title}, Artist: {recommended_artist}")
else:
    print("It's not in the hot songs list.")

Enter the Song to check: Lovin On Me
Entered song 'lovin on me'. Here's a recommendation:
Title: Agora Hills, Artist: Doja Cat